#cy {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vh;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 3;
    position: relative;
    background: none;
        border: none;
        padding: 0;
}

.treeButton {color: #aaaaaa;
position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    z-index: 3;
    position: absolute;
    background: none;
    border: none;
    padding: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#legendDiv {
    width: 200px;
    /* or any suitable width */
    height: 200px;
    /* or any suitable height */
}